
.gradient-orange{
	background-image: linear-gradient(to right, #b52d18, #cf7d36);
}
.gradient-black{
	background-image: linear-gradient(to right, black, gray);
	text-align:center;
	color:white;
}
.gradient-black1{
	background-image: linear-gradient(to right, gray, gray);
	text-align:center;
	color:white;

}
.orange{
	background-image: linear-gradient(to right, #b52d18,#b52d18);
}
#Mainpage1{
	color:white;
}
#Mainpage2 {
	padding:15px;
	min-width:95%;
}
#Mainpage3 {
	padding:15px;
	min-width:100%;
}