
.gradient-orange{
	background-image: linear-gradient(to right, #b52d18, #cf7d36);
}
.gradient-black{
	background-image: linear-gradient(to right, black, gray);
	text-align:center;
	color:white;
	
}
#Mainpage1{
	color:white;
}
#Mainpage2 {
	padding:15px;
	min-width:95%;
}